<footer>

    <div class="footer">

        <div class="links">
            <a href="https://github.com/Ikmokhirio" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://vk.com/demon_crab_programmer" target="_blank"><i class="fab fa-vk"></i></a>
        </div>

        <p class="rights-text">© 2020 Created By Ikmokhirio All Rights Reserved</p>

    </div>
</footer>