<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
</head>