<!DOCTYPE html>

<html>
{{> head}}
<body>
<div class="wrapper">
    <div class="main">
        {{> menu}}

        <div class="page_content">
            <form name="execute" method="get" action="{{executePath}}">
                <div class="input_label">
                    <p>Input your domain</p>
                </div>

                <input type="text" name="address" cols="40" rows="3" placeholder="Function">

                <p><input type="submit" value="SEND"></p>
            </form>
        </div>
    </div>

    {{> footer}}
</div>
</body>
</html>