<!DOCTYPE html>

<html>
{{> head}}
<body>
<div class="wrapper">
    <div class="main">
        {{> menu}}

        <div class="page_content">
            <div class="error">
                <h1>{{message}}</h1>
            </div>
        </div>
    </div>

    {{> footer}}
</div>
</body>
</html>