<!DOCTYPE html>

<html>
{{> head}}
<body>
<div class="wrapper">
    <div class="main">
        {{> menu}}

        <div class="page_content">
            <h1>SIMPLE HOME PAGE</h1>
            <div class="box">
                <img src="https://avatars3.githubusercontent.com/u/33801458?s=400&u=c22d6d2b615f0240da167b006c139d90af84b544&v=4" alt="" class="box-img">
                <h1>Ikmokhirio</h1>
                <h5>Professional retard</h5>
            </div>
        </div>
    </div>

    {{> footer}}
</div>
</body>
</html>