<!DOCTYPE html>

<html>
{{> head}}
<body>
<div class="wrapper">
    <div class="main">
        {{> menu}}

        <div class="page_content">
            <h1>SIMPLE HOME PAGE</h1>
        </div>
    </div>

    {{> footer}}
</div>
</body>
</html>